﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacto</title>
</head>
<body>
    <div>
        <p>Nombre:  chitiva cara de moco</p>
        <p>Código:  172009436</p>
        <p>Correo:  juan_ch92@outlook.com</p>
        <p>Celular:  3150000000</p>
    </div>
</body>
</html>
