﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mi PÁGINA WEB</title>
</head>
<body>
    <style>
        body{
            background: green;           
        }
    </style>
    <div>
        <p>Hola Juan José Cómo Estas</p>
    </div>
</body>
</html>
